<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        {% for post in posts %}
            
            <a href=""> <h1>{{forloop.counter}} . {{ post.title | title}}</h1></a>
            <p>{{ post.content | truncatewords:5 }}</p>
        {% empty %}
            <h1>No Posts Available</h1>
        
        {% endfor %}


</body>
</html>
